<h1>Equipment list</h1>

<table class = "table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <% for equip in @equipment %>
            <tr>
                <td> <%=equip.name%> </td>
                <td> <%=equip.item_type%> </td>
            </tr>
        <% end %>
    </tbody>
</table>
